.tickerWrapper {
    width: 100vw;
    overflow: hidden;
    position: relative;
    margin-top: 15px;
    margin-bottom: 100px;
    white-space: nowrap;
}

.ticker {
    display: flex;
    width: max-content;
    align-items: center;
    animation: scrollLeft 30s linear infinite;
}

.tickerContent {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.label {
    height: 100%; 
    max-height: 250px; 
    width: auto;
    object-fit: fit;
    flex-shrink: 0;
    object-fit: contain; 
}


@keyframes scrollLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}
