:root {
  /*colors*/
  --purple: #8F83E2;
  --white-text: #FFFFFF;
  --bg-white: #FCFCFC;
  --black: #0B0A0A;
  --bg-card: #F4F3F3;

  /*font sizes*/
  --h1-size: 5.44rem; /* 87px */
  --h2-size: 2.10rem; /* 51px */
  --h3-size: 2.00rem; /* 39px */
  --h4-size: 1.81rem; /* 29px */
  --h5-size: 1.25rem; /* 20px */
  --body-size: 0.94rem; /* 15px */
  --caption-size: 0.75rem; /* 12px */
}


@font-face {
  font-family: "LibreCaslonCondensed-Medium";
  src: url("/fonts/LibreCaslonCondensed-Medium.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "UncutSans-Regular";
  src: url("/fonts/UncutSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html, body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

main {
  flex: 1;
  width: 76.04vw;
  max-width: 1460px;
  margin: 0 auto
}

body {
  color: var(--black);
  background: var(--bg-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  background-color: var(--bg-white);
  padding: 10px;
  color: var(--black);
  border-bottom: solid var(--black) 1px;
}

footer {
  background-color: var(--bg-white);
  padding: 10px;
  color: var(--black);
  border-top: solid var(--black) 1px;
}

section {
  padding: 20px;
}
