.card {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-radius: 10px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 0px; 
    padding-left: 50px;
    background: var(--white);
    border: 1px solid var(--black);
    max-width: 1100px;
    margin: auto;
    gap: 20px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.card:hover {
    background: var(--purple);
    color: var(--white-text); 
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 50%;
}

.title {
    font-family: "LibreCaslonCondensed-Medium", serif;
    font-size: var(--h3-size);
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px; 
}

.description {
    font-family: "UncutSans-Regular", sans-serif;
    font-size: var(--caption-size);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.7;
    text-align: left;
    max-width: 450px;
    margin: 0;
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
}

.screenImage {
    width: 90%;
    height: auto;
    display: block;
    margin-top: -50px !important;
    padding-bottom: 0.7em
}


