.fizzlePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin: 0 auto;
}

.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.title {
    font-family: "LibreCaslonCondensed-Medium", serif;
    font-size: 4.7rem;
    letter-spacing: -0.05em; 
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;
}

.tags {
    font-family: "UncutSans-Regular", sans-serif;
    text-transform: uppercase;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 5px;
}

.tag {
    border: 1px solid var(--black);
    padding: 13px 20px;
    border-radius: 30px;
    font-size: var(--caption-size);
}

.heroImage {
    width: 100%;
    max-width: 76vw;
    height: auto;
    max-height: 70vh;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.featuredImage {
    width: 100%;
    border-radius: 12px;
    border: var(--black) solid 1px;
    object-fit: cover;
}

.aboutContainer {
    width: 100%;
    max-width: 1100px;
    margin-top: 10px;
}

.aboutTitle {
    font-family: "LibreCaslonCondensed-Medium", serif;
    font-size: var(--h3-size);
    font-weight: 400;
    margin-bottom: 10px;
    text-align: left;
}

.aboutContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
}

.aboutDetails {
    flex: 1;
    max-width: 220px;
    text-align: left;
}

.detailBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.detailHeading {
    font-family: "LibreCaslonCondensed-Medium", serif;
    font-size: var(--h5-size);
    font-weight: 500;
    margin-bottom: 10px;
}

.detailText {
    font-family: "UncutSans-Regular", sans-serif;
    font-size: var(--caption-size);
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

.aboutText {
    flex: 2;
    max-width: 700px;
    text-align: left;
}

.aboutText p {
    font-family: "UncutSans-Regular", sans-serif;
    font-size: var(--body-size);
    font-weight: 200;
    line-height: 1.9;
    margin-bottom: 20px;
}
